.IroWheel { margin: auto !important; }
.IroSlider {  margin-right: auto !important; }
.slider { background-color: #0C1734; }
.slider:before { background-color: #1B2944; }
input.form-control[type=range], input.form-control[type=range]:focus { background-color: #0C1734; border: none; }
input.form-control[type=range]:after { background-color: #1B2944; }
input.form-control[type="range"]::-webkit-slider-thumb, input.form-control[type="range"]::-webkit-slider-thumb:focus { background-color: #1B2944; border: 1px solid #1B2944; }
.wt-day { font-size: 70px; font-weight: 200; line-height: 100%; }
.wt-dt-text {font-weight: 200; font-size: 22px; display: flex; line-height: 118%;}
